<div class="user-info">
  <h2 class="user-text">Super hero Information</h2>
  <form #f="ngForm" (ngSubmit)="f.valid && onSubmit()" novalidate>
    <div class="form-group">
      <label for="name">Super hero name:</label>
      <input type="text" [(ngModel)]="superHero.Name" id="name" name="name">
    </div>
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" [(ngModel)]="superHero.FirstName" id="firstName" name="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" [(ngModel)]="superHero.LastName" id="lastName" name="lastName">
    </div>
    <div class="form-group">
      <label for="place">Place:</label>
      <input type="text" [(ngModel)]="superHero.Place" id="place" name="place">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

<div *ngIf="submitted && isSuccessful" class="user-info" style="padding-top: 5px;">
  <div class="alert alert-success" role="alert">
    Super hero created!
  </div>
</div>
<div *ngIf="submitted && !isSuccessful" class="user-info" style="padding-top: 5px;">
  <div class="alert alert-danger" role="alert">
    {{ errorMessage }}
  </div>
</div>
