<div *ngIf="superheroes && superheroes.length > 0; else noHeroes">
  <h2>List of Superheroes</h2>
  <ul>
    <div class="d-flex" *ngFor="let hero of superheroes">
    <li>
      {{ hero.Name }}
    </li>
    <button mat-fab color="primary" matTooltip="Edit" class="custom-button">
      <mat-icon>edit</mat-icon>
    </button>
    <button (click)="deleteHero(hero.Id)" mat-fab color="warn" matTooltip="Delete" class="custom-button">
      <mat-icon>delete</mat-icon>
    </button>
</div>
  </ul>
</div>

<ng-template #noHeroes>
  <div>
    No superheroes available.
  </div>
</ng-template>

<div *ngIf="hero">
  <p>{{ hero.Name }}</p>
  <p>{{ hero.FirstName }}</p>
  <p>{{ hero.LastName }}</p>
  <p>{{ hero.Place }}</p>
</div>

