<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand gradient" href="/home">Home</a>
    <div class="dropdown ml-auto">
      <a type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="../../assets/images/user_colorful.png" alt="Image" style="width: 40px; height:40px;" class="ml-5" />
      </a>
      <a href="#"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; text-decoration: none;">
        <div class="user-actions">
          <div class="subclass">
            <img src="../../assets/images/user_colorful.png" alt="Image" style="width: 30px; height:30px;">
            <div style="font-weight: bold; font-size: 13px;line-height: 1; margin-bottom: 0px;">
              HELLO, <br> <span class="first-name"></span>
            </div>
            <img src="../../assets/images/dropdown.png" alt="Image" style="width: 11px; height:11px; margin-left: 10px; margin-top: 13px;">
          </div>
        </div>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-top: 8px;">
        <a class="dropdown-item" href="login" >Login</a>
        <a class="dropdown-item" href="signup" >Sign Up</a>
        <a class="dropdown-item" href="user-info">User information</a>
        <a class="dropdown-item" href="ticket-history" >Ticket history</a>
        <a class="dropdown-item" href="#" >Log out</a>
      </div>
    </div>
  </div>
</nav>



<h1>Super hero list</h1>
<ul>
  <li *ngFor="let superhero of superheroes">
    {{ superhero.Name }}
  </li>
</ul>
{{ hero.Name }}
